mods/
resourcepacks/
shaderpacks/
saves/
journeymap/icon/
journeymap/data/
Retirement-natives/
waypoints/
downloads/
logs/

usercache.json
usernamecache.json
acceleratedRecoiling.json
acceleratedRecoilingLib.dll

*.jar
*.log